body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password],input[type=email]  {
width:100%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  background-color: peachpuff;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  /* padding: 16px; */
  background-color: peachpuff;
  width: 50%;


}

span.psw {
  float: right;
  padding-top: 10px;

}

